:root{
    /* Primarios */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Neutrales */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /* Fuentes */
    --regular: 500;
    --medium: 700;
    --bold: 800;
    --font-small: 1.8rem;
    --font-med: 2.4rem;
    --font-big: 3.2rem;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1.6rem 2.4rem;
    background: linear-gradient(
       hsla(252, 100%, 67%, 1),
        hsla(241, 81%, 54%, 1)
    );
    border-radius: 0 0 10% 10%;
}

.score p{
    color: var(--white);
}

.score-title{
    font-size: var(--font-med);
    font-weight: var(--regular);
}

.score-result{
    background:linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0.1)
    );
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
}
.score-number{
    font-size: var(--font-big);
    font-weight: var(--medium);
    margin: 0;
    padding: 0;
}

.of100{
    opacity: .6;
    margin: 1.6rem 0 0 0;
    padding: 0;
    font-size: var(--font-small);
}