:root {
  /* Primarios */
  --light-red: hsla(0, 100%, 67%, 0.25);
  --light-red-solid: hsl(0, 100%, 67%);
  --orangey-yellow: hsla(39, 100%, 56%, 0.25);
  --orangey-yellow-solid: hsl(39, 100%, 56%);
  --green-teal: hsla(166, 100%, 37%, 0.25);
  --green-teal-solid: hsl(166, 100%, 37%);
  --cobalt-blue: hsla(234, 85%, 45%, 0.25);
  --cobal-blue-solid: hsl(234, 85%, 45%);
  /* Neutrales */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 100%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --persian-blue-solid: hsl(241, 72%, 46%);
  /* Fuentes */
  --regular: 500;
  --medium: 700;
  --bold: 800;
  --font-small: 1.8rem;
  --font-med: 2.4rem;
  --font-big: 4.2rem;
}
html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  font-size: var(--font-small);
  background-color: var(--pale-blue);
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--white);
  border-radius: 4rem;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 0 0 4rem 4rem;
  padding: 2.4rem;
}
.score__title {
  font-size: var(--font-med);
  font-weight: var(--medium);
  color: var(--light-lavender);
}
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
  padding: 1.6rem;
}
.score__result {
  font-size: var(--font-big);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
  padding: 0;
}
.score__max {
  font-size: var(--regular);
  font-weight: var(--regular);
  color: var(--white);
  opacity: 0.6;
}
.score__text {
  text-align: center;
}
.score__text--title {
  font-size: var(--font-med);
  font-weight: var(--medium);
  color: var(--white);
}
.score__text--message {
  color: var(--light-lavender);
}
.summary {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 2.4rem;
}
.summary__title {
  font-size: var(--font-med);
  font-weight: var(--medium);
}
.category {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
}
.category:last-of-type {
  margin-bottom: 0;
}
.reaction {
  background-color: var(--light-red);
  color: var(--light-red-solid);
}
.memory {
  background-color: var(--orangey-yellow);
  color: var(--orangey-yellow-solid);
}
.verbal {
  background-color: var(--green-teal);
  color: var(--green-teal-solid);
}
.visual {
  background-color: var(--cobalt-blue);
  color: var(--cobal-blue-solid);
}
.category__icon {
  width: 3.2rem;
  padding: 0.8rem;
}
.category__title {
  width: 75%;
  font-weight: var(--medium);
}
.category__score {
  font-weight: var(--medium);
  color: var(--dark-gray-blue);
}
.category__score span {
  font-weight: var(--regular);
}
.btn {
  background-color: var(--dark-gray-blue);
  text-decoration: none;
  text-align: center;
  font-weight: var(--medium);
  color: white;
  border-radius: 0.8rem;
  padding: 1.6rem;
  margin-top: 1.6rem;
}
.footer {
  width: 100%;
}
.attribution {
  text-align: center;
  padding: 2.4rem;
  margin-top: 2.4rem;
}
@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    width: 50%;
    align-items: stretch;
    margin-top: 15rem;
  }
  .score {
    border-radius: 4rem;
  }
}
